libs/
vendor/
!packages/web/vendor/
.Rhistory
.DS_Store
sources/1-basecamp/**/*.html
sources/2-plan/**/*.html
sources/3-ingest/**/*.html
sources/4-wranglers/**/*.html
sources/5-analytics/**/*.html
sources/6-views/**/*.html
sources/7-charts/**/*.html
sources/8-diagrams/**/*.html
sources/9-graphs/**/*.html
sources/10-maps/**/*.html
sources/11-semiographics/**/*.html
sources/12-tables/**/*.html
sources/13-temporals/**/*.html
sources/14-trees/**/*.html
sources/15-storytelling/**/*.html
sources/16-summit/**/*.html
sources/17-case-studies/**/*.html
sources/18-exercises/**/*.html