<div class="border-bottom">
  
  <div class="header">
    
  <img src="../../../z-assemblers/assets/logo/logo.svg" alt="" height="36">

  <div class="nav" style="float: right;">
      <a class="nav-link" 
        style="color: #111111;" 
        href="home.html" 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom"
        title="Home">
        <img src="../../../z-assemblers/assets/icons/campground-solid.svg" alt="" height="32">
      </a>
      <a class="nav-link" 
        style="color: #111111;" 
        href="explorer.html" 
        data-bs-toggle="tooltip"
        data-bs-placement="bottom" 
        title="Search for content">
        <img src="../../../z-assemblers/assets/icons/compass.svg" alt="" height="32">
      </a>
      <a class="nav-link" 
        style="color: #111111;" 
        href="https://github.com/UN-AVT" 
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="Project">
        <img src="../../../z-assemblers/assets/icons/github-alt-brands.svg" alt="" height="32">
      </a>
    </div>

</div>
</div>